﻿<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sabits.io</title>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/freelancer.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="app/app.js"></script>
    <script src="app/controllers/mainController.js"></script>
    <script src="app/directives/products.js"></script>
    <script src="app/directives/login.js"></script>
    <script src="app/directives/searchIndustries.js"></script>


    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/w.bootstrap.min.css" rel="stylesheet">
    <link href="css/w.freelancer.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/freelancer.css" rel="stylesheet">
    <style type="text/css">
        img {
            max-width: 100%;
            height: auto;
        }

        .navbar-nav > .active > a {
            background-color: #2C3E50 !important;
        }

        ul li a:hover {
            color: #fff;
            background: #2C3E50;
        }

        ul li ul.dropdown {
            min-width: 125px; /* Set width of the dropdown */
            background: #2C3E50;
            display: none;
            position: absolute;
            z-index: 999;
            left: 0;
            text-align: left;
        }

        ul li:hover ul.dropdown {
            display: block; /* Display the dropdown */
        }

        ul li ul.dropdown li {
            display: block;
        }
    </style>

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-controller="mainCtrl">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Sabits.io</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a href="#" ng-click="stopLogin()">Home</a>
                    </li>
                    <li>
                        <a href="#products" ng-click="stopLogin()">Products</a>
                    </li>
                    <li>
                        <a href="#industries" ng-click="stopLogin()">Industries</a>
                    </li>
                    <li>
                        <a href="#contact" ng-click="stopLogin()">Contact</a>
                    </li>
                    <li>
                        <a href="#login" ng-click="startLogin()" ng-hide="__loggedIn">Login</a>
                        <a href="#" ng-click="" ng-show="__loggedIn">Hi David! <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown" ng-show="__loggedIn">
                            <li><a href="#">Profile</a></li>
                            <li><a href="#" ng-click="startLogout()">Logout</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="checkout.html" ng-click="">Cart <i class="fa fa-shopping-cart"></i> {{__itemsInCart}}</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>


    <login ng-show="__isLoggingIn" id="login"></login>

    <!-- Main Body -->
    <div ng-hide="__isLoggingIn" id="page-top">
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <img class="img-responsive" src="images/logo.png" alt="">
                        <div class="intro-text">
                            <span class="name">Sabits.io</span>
                            <hr class="star-light">
                            <span class="skills">IT Consulting and Solutions for Your Small Business</span><hr>

                            <div class="row">
                                <p>Sabits.io provides IT solutions for your small business, free of charge. To get started finding IT solutions for your small business, select one of the above options. </p>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <form action="#products">
                                        <button type="submit" class="btn btn-primary"><span class="skills">Browse Products</span></button>
                                    </form>
                                    <span class="skills">or...</span>
                                    <form action="#industries">
                                        <button type="submit" class="btn btn-primary"><span class="skills">Search Industries</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <products products="products" id="products"></products>
        <search-industries people="personGroup" id="industries"></search-industries>

        <!-- Contact Section -->
        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Contact a Sabits IT Consultant</h2>
                        <hr class="star-primary">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                        <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                        <form name="sentMessage" id="contactForm" novalidate>
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <label>Name</label>
                                    <input type="text" class="form-control" placeholder="Name" id="name" required data-validation-required-message="Please enter your name.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <label>Email Address</label>
                                    <input type="email" class="form-control" placeholder="Email Address" id="email" required data-validation-required-message="Please enter your email address.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <label>Phone Number</label>
                                    <input type="tel" class="form-control" placeholder="Phone Number" id="phone" required data-validation-required-message="Please enter your phone number.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <label>Message</label>
                                    <textarea rows="5" class="form-control" placeholder="Message" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <br>
                            <div id="success"></div>
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <button type="submit" class="btn btn-success btn-lg">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p>1000 Galaxy Way<br>Orem, UT 84057</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Careers</h3>
                        <p>We're hiring. <a href="apply.html">Apply Now</a>.</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>About Us</h3>
                        <p>Sabits.io is a school project by Dimitri Selytin, Josh Rabino, Nick Eggertz and Logan Rasmussen.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Sabits.io 2015
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/freelancer.js"></script>
</body>

</html>
