﻿
<section class="success" height="100%" style="margin-top: 100px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Login</h2>
                <hr class="star-light">
                <div class="col-lg-12 center">
                    <p>Please Enter in your email/username and password.</p>
                </div>
            </div>
        </div>
        <div class="row" id="portfolio" align="center">
            <div class="form-group">
                <input type="text" placeholder="username/password" class="form-control input-lg" style="width: 80%;" />
                <br>
                <input type="password" placeholder="password" class="form-control input-lg" style="width: 80%;" />
                <br>
                <input type="submit" ng-click="login()" class="btn btn-primary btn-lg" value="Login" />
            </div>
        </div>
    </div>
</section>