﻿<style type="text/css">
    img {
        max-width: 75%;
        height: auto;
    }
</style>
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Products</h2>
                <hr class="star-primary">
                <p>Here you can browse all of the products that Sabits.io provides.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 portfolio-item"
                 ng-repeat="p in products">
                <a class="portfolio-link"
                   ng-click="selectProduct(p.productId)">
                    <div class=" caption">
                        <div class="caption-content">
                            <h3>{{p.name}}</h3>
                        </div>
                    </div>
                    <img ng-src="{{p.image}}" class="img-responsive" alt="">
                </a>
                <div ng-show="isProductSelected(p.productId)">
                    <h4>{{p.name}} - {{p.price | currency}}</h4>
                    <span class="text-capitalize">{{p.item}}</span>
                    <br />
                    <span class="text-capitalize">{{p.description}}</span>
                    <br />
                    <br />
                    <button class="btn btn-primary" title="Add To Cart" ng-show="!p.inCart" ng-click="addToCart(p)">Add</button>
                    <button class="btn btn-primary" title="Remove From Cart" ng-show="p.inCart" ng-click="removeFromCart(p)">Remove</button>
                    <p><a href="#contact">I need some help</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
