﻿<style type="text/css">
    img {
        max-width: 75%;
        height: auto;
    }
    .withBorder {
        border: 2px solid #2C3E50;
        background-color: rgba(0, 247, 209, 0.2);/*#18BC9C;*/
    }
    .pointer {
        cursor: pointer;
    }
</style>
<section class="success" height="100%">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Search Industries</h2>
                <hr class="star-light">
                <div class="col-lg-12 center">
                    <p>Here you can search for small business owners just like you. Our advocates will tell you how they use Sabits to run their small business.</p>
                </div>
            </div>
        </div>
        <div class="row" id="portfolio" align="center">
            <div class="form-group">
                <input type="text" placeholder="Enter your industry or type of small business here." ng-model="searchFilter" class="form-control input-lg" style="width: 80%;" />
                <input type="submit" ng-click="filterList(searchFilter)" class="btn btn-primary btn-lg" value="Search" />
            </div>
            <div class="container">
                <div class="row">
                    <div class="form-group"
                         id="{{person.name}}{{person.profession}}"
                         ng-class="{'col-xs-6 col-sm-4 col-md-3': !person.isExpanded, 'col-xs-12': person.isExpanded}"
                         ng-repeat="person in people"
                         ng-show="person.canSee">
                        <div ng-hide="person.isExpanded" ng-click="expand(person)" class="withBorder pointer">
                            <img ng-src="{{person.profilePic}}" class="center-block " />
                            <h2 class="center">{{person.name}} </h2><h4>{{person.profession}}</h4>
                            <div class="row">
                                <div class="form-group col-xs-12 col-sm-6"
                                     ng-repeat="product in person.productsUsed">
                                    <span class="text-capitalize">{{product.item}}</span>
                                </div>
                            </div>
                        </div>
                        <div ng-show="person.isExpanded" class="withBorder">
                            <div class="row">
                                <div class="col-xs-4 pointer" ng-click="expand(person)">
                                    <img ng-src="{{person.profilePic}}" class="center-block" />
                                    <h2>{{person.name}}</h2>
                                </div>
                                <div class="col-xs-8 ">
                                    <div class="form-group text-left"
                                         ng-repeat="product in person.productsUsed">
                                        <h4 class="text-capitalize">{{product.item}}</h4>
                                        <span class="text-capitalize">{{product.description}}</span>
                                        <br /><br />
                                        <button class="btn btn-primary" ng-hide="product.inCart" ng-click="addToCart(product)">Add to Cart</button>
                                        <button class="btn btn-primary" ng-show="product.inCart" ng-click="removeFromCart(product)">Remove From Cart</button>
                                        <br /><br />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
